<%include ./partials/header%>
<div class="right h-full flex-1 relative px-6">
    <div class="tags relative flex px-6 py-3 gap-3 items-center overflow-x-auto">
        <i
            class="ri-arrow-left-s-line bg-zinc-100 rounded-full h-[5%] top-[8.6%] flex items-center justify-center aspect-square fixed left-60"></i>
        <i
            class="ri-arrow-right-s-line bg-zinc-100 rounded-full h-[5%] top-[8.6%] flex items-center justify-center aspect-square fixed right-3"></i>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">All
        </h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Mixes
        </h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">
            Gaming</h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Lo-fi
        </h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">
            Mantras</h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Live
        </h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">
            Pritam Chakraborty</h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">
            Bollywood Music</h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">
            Satsang</h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">
            Dramedy</h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">News
        </h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">
            Rituals</h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">
            Lesson</h2>
        <h2 class="cursor-pointer hover:bg-zinc-100 bg-zinc-200 px-3 py-1 rounded-md font-medium shrink-0">Jai
            Shree Ram</h2>
    </div>
    <div class="videos flex py-5 flex-wrap justify-between overflow-y-auto h-[85vh] ">
        <div class="video w-full mb-1 flex gap-3 h-max">
            <div class="cursor-pointer shrink-0 w-[26vw] rounded-xl aspect-video bg-zinc-200 mb-2 relative overflow-hidden">
                <div class="thumbnail absolute top-0 left-0 w-full h-full bg-zinc-300 rounded-xl hover:hidden">
                    <!-- <img src="https://jw-webmagazine.com/wp-content/uploads/2020/08/Anime-Demon-Slayer-Kimetsu-no-Yaiba.png" class="w-full h-full object-cover" alt=""> -->
                </div>
            </div>
            <div class="dets relative flex-1">

                <i class="text-xl ri-more-2-fill absolute top-5 -translate-y-1/2 right-2 "></i>

                <h2 class="leading-tight">Attitude | Stand-up Comedy by Ravi Gupta Lorem ipsum dolor sit amet
                    consectetur adipisicing elit.</h2>
                <div class="flex gap-1 items-center text-zinc-500">
                    <h4 class="text-sm">15 views</h4>
                    <i class="ri-circle-fill text-[4px]"></i>
                    <h4 class="text-sm">23 hours ago</h4>
                </div>
                <div class="channel-dets flex items-center gap-1 my-1.5">
                    <img src="https://yt3.googleusercontent.com/ytc/AIdro_lxymYXNITfuoAkr58fuQ1TCLZmjmHSG2IpYX20xw=s176-c-k-c0x00ffffff-no-rj"
                        alt="" class="w-8 aspect-square object-cover rounded-full">
                    <h4 class="text-zinc-500 text-sm">channel name</h4>
                </div>
                <p class="text-zinc-500 text-sm">descriptiom ipsum dolor sit amet, consectetur adipisicing.</p>

            </div>

        </div>



    </div>

</div>

<%include ./partials/footer%>



