<%include ./partials/header%>
<div class="right h-[85vh] flex-1 relative px-6 overflow-y-auto">
    <div class="short-container flex items-end justify-center py-3 mb-4">
        <div class="short-panel w-[20rem] h-[80vh] bg-zinc-200 rounded-lg overflow-hidden">
        </div>
        <div class="options flex flex-col px-3">
            <div class="text-center mb-5">
                <i class="ri-thumb-up-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full "></i>
                <h2 class="mt-1.5 text-md">11k</h2>
            </div>
            <div class="text-center mb-5">
                <i class="ri-thumb-down-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full "></i>
                <h2 class="mt-1.5 text-md">Dislike</h2>
            </div>
            <div class="text-center mb-5">
                <i class="ri-message-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full "></i>
                <h2 class="mt-1.5 text-md">386</h2>
            </div>
            <div class="text-center mb-5">
                <i class="ri-share-forward-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full l"></i>
                <h2 class="mt-1.5 text-md">Share</h2>
            </div>
            <div class="text-center mb-5">
                <i class="ri-more-2-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full "></i>
            </div>
            <img src="https://yt3.googleusercontent.com/ytc/AIdro_lxymYXNITfuoAkr58fuQ1TCLZmjmHSG2IpYX20xw=s176-c-k-c0x00ffffff-no-rj" alt="" class="w-10 object-cover rounded-lg aspect-square bg-zinc-800">
        </div>
    </div>
    <div class="short-container flex items-end justify-center mb-4">
        <div class="short-panel w-80 h-[80vh] bg-zinc-200">
        </div>
        <div class="options flex flex-col px-3">
            <div class="text-center mb-5">
                <i class="ri-thumb-up-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full "></i>
                <h2 class="mt-1.5 text-md">11k</h2>
            </div>
            <div class="text-center mb-5">
                <i class="ri-thumb-down-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full "></i>
                <h2 class="mt-1.5 text-md">Dislike</h2>
            </div>
            <div class="text-center mb-5">
                <i class="ri-message-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full "></i>
                <h2 class="mt-1.5 text-md">386</h2>
            </div>
            <div class="text-center mb-5">
                <i class="ri-share-forward-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full l"></i>
                <h2 class="mt-1.5 text-md">Share</h2>
            </div>
            <div class="text-center mb-5">
                <i class="ri-more-2-fill text-2xl bg-zinc-100 w-max aspect-square p-2.5 hover:bg-zinc-200 cursor-pointer rounded-full "></i>
            </div>
            <img src="https://yt3.googleusercontent.com/ytc/AIdro_lxymYXNITfuoAkr58fuQ1TCLZmjmHSG2IpYX20xw=s176-c-k-c0x00ffffff-no-rj" alt="" class="w-10 object-cover rounded-lg aspect-square bg-zinc-800">
        </div>
    </div>

</div>
<%include ./partials/footer%>